body {
    text-align: center;
}

.game-board {
    margin: auto;
    background-color: black;
}

.game-board td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.4em;
    color: aliceblue;
}

.hero {
    color: blueviolet;
}

.victory {
    display: none;
}


/* .startBtn {
    display: block;
    margin: auto;
} */

.modal {
    background-color: lightseagreen;
    display: block;
    position: absolute;
    top: 299px;
    right: 0px;
    padding: 5px;
    width: 256px;
}

.super1 {
    display: block;
}

.shift {
    margin: auto;
}